export PATH="${PATH}:${HOME}/.local/bin"
export WALLDIR=$HOME/wallpapers
# WALLPAPER moved to ~/.xlocalprofile
# Here's an example
# export WALLPAPER=$WALLDIR/diamond-low-poly.png
[ -f ~/.xlocalprofile ] && source ~/.xlocalprofile
