[user]
	email = diegosandmg@gmail.com
	name = Diego Sánchez
[core]
	editor = nvim
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[safe]
	directory = /home/diego/shared-data/Users/diego/Documents/LinuxSoConfig
	directory = /home/diego/shared-data/Users/diego/Documents/ObsidianVaults/Diego's-Knowledge
[status]
	submodulesummary = 1
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	side-by-side = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
	defaultBranch = main
